* {
  margin: 0;
  background-color: rgb(0, 0, 0);
}

h1, h2, h3, p {
  color: white;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* border: 1px dashed red; */
}

nav a {
  color: white;
  float: right;
  /* border: 1px dashed yellow; */
  text-decoration: none;
  font-size: 20px;
  padding: 20px 28px;
}

nav a:hover {
  background-color: rgb(29, 29, 29);
}

#logo {
  float: left;
  padding-left: 150px;
  pointer-events: none;
  font-size: 24px;
  font-style: oblique;
  letter-spacing: 4px;
}

main {
  display: flex;
  margin: 14rem 0 0 16rem;
}

.image {
  margin: auto;
  font-size: 200px;
}
